USE [master]
GO
/****** Object:  Database [SQLqlsv2]    Script Date: 03/04/2026 23:55:23 ******/
CREATE DATABASE [SQLqlsv2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SQLqlsv2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SQLqlsv2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SQLqlsv2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SQLqlsv2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SQLqlsv2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SQLqlsv2]
GO
/****** Object:  Table [dbo].[ChuongTrinhDaoTao]    Script Date: 03/04/2026 23:55:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuongTrinhDaoTao](
	[MaCTDT] [varchar](10) NOT NULL,
	[TenCTDT] [nvarchar](100) NOT NULL,
	[TongTinChi] [int] NULL,
	[NamApDung] [int] NULL,
	[MaKhoa] [varchar](10) NULL,
	[isDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangKy]    Script Date: 03/04/2026 23:55:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKy](
	[MaSV] [varchar](10) NOT NULL,
	[MaLHP] [varchar](10) NOT NULL,
	[DiemSo] [float] NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC,
	[MaLHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 03/04/2026 23:55:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[MaKhoa] [varchar](10) NOT NULL,
	[TenKhoa] [nvarchar](100) NOT NULL,
	[isDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHanhChinh]    Script Date: 03/04/2026 23:55:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHanhChinh](
	[MaLop] [varchar](10) NOT NULL,
	[NienKhoa] [varchar](20) NULL,
	[TenLop] [nvarchar](50) NULL,
	[MaCTDT] [varchar](10) NULL,
	[MaNV] [varchar](10) NULL,
	[isDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHocPhan]    Script Date: 03/04/2026 23:55:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHocPhan](
	[MaLHP] [varchar](10) NOT NULL,
	[NamHoc] [int] NULL,
	[HocKy] [int] NULL,
	[GioiHanSV] [int] NULL,
	[MaMH] [varchar](10) NULL,
	[MaNV] [varchar](10) NULL,
	[CaHoc] [varchar](20) NULL,
	[PhongHoc] [varchar](20) NULL,
	[isDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 03/04/2026 23:55:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MaMH] [varchar](10) NOT NULL,
	[TenMH] [nvarchar](100) NOT NULL,
	[SoTC] [int] NULL,
	[LoaiMon] [nvarchar](50) NULL,
	[MaCTDT] [varchar](10) NULL,
	[isDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 03/04/2026 23:55:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[Username] [varchar](50) NOT NULL,
	[MatKhau] [varchar](50) NOT NULL,
	[Usertype] [varchar](2) NOT NULL,
	[MaSV] [varchar](10) NULL,
	[MaNV] [varchar](10) NULL,
	[isDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 03/04/2026 23:55:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](10) NOT NULL,
	[HoDem] [nvarchar](50) NULL,
	[Ten] [nvarchar](20) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[LoaiNV] [nvarchar](50) NULL,
	[MaKhoa] [varchar](10) NULL,
	[HocVan] [nvarchar](50) NULL,
	[SDT] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuThu]    Script Date: 03/04/2026 23:55:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuThu](
	[MaPhieu] [int] IDENTITY(1,1) NOT NULL,
	[MaSV] [varchar](50) NOT NULL,
	[SoTienThu] [money] NOT NULL,
	[NgayThu] [datetime] NULL,
	[HocKy] [int] NULL,
	[NamHoc] [int] NULL,
	[NguoiThu] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuanHuyen]    Script Date: 03/04/2026 23:55:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanHuyen](
	[MaHuyen] [varchar](10) NOT NULL,
	[TenHuyen] [nvarchar](100) NOT NULL,
	[MaTinh] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuyDinhHocPhi]    Script Date: 03/04/2026 23:55:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuyDinhHocPhi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NamHoc] [nvarchar](20) NULL,
	[HocKy] [int] NULL,
	[DonGiaTinChi] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 03/04/2026 23:55:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSV] [varchar](10) NOT NULL,
	[HoDem] [nvarchar](50) NULL,
	[Ten] [nvarchar](20) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NamNhapHoc] [int] NULL,
	[MaLop] [varchar](10) NULL,
	[SDT] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[TrangThaiSV] [nvarchar](50) NULL,
	[MaHuyen] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThangDiem]    Script Date: 03/04/2026 23:55:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThangDiem](
	[IDThangDiem] [int] IDENTITY(1,1) NOT NULL,
	[MucDiem] [float] NULL,
	[DiemChu] [varchar](5) NULL,
	[GhiChu] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDThangDiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinhThanh]    Script Date: 03/04/2026 23:55:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhThanh](
	[MaTinh] [varchar](10) NOT NULL,
	[TenTinh] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChuongTrinhDaoTao] ([MaCTDT], [TenCTDT], [TongTinChi], [NamApDung], [MaKhoa], [isDeleted]) VALUES (N'00001', N'test001', 12, 2000, N'0000TEST', 1)
INSERT [dbo].[ChuongTrinhDaoTao] ([MaCTDT], [TenCTDT], [TongTinChi], [NamApDung], [MaKhoa], [isDeleted]) VALUES (N'CT001', N'Công nghệ thông tin', 150, 2023, N'CNTT', 0)
INSERT [dbo].[ChuongTrinhDaoTao] ([MaCTDT], [TenCTDT], [TongTinChi], [NamApDung], [MaKhoa], [isDeleted]) VALUES (N'CT002', N'Kỹ thuật phần mềm', 150, 2023, N'KTPM', 0)
GO
INSERT [dbo].[DangKy] ([MaSV], [MaLHP], [DiemSo], [TrangThai]) VALUES (N'2311030100', N'C08', 3.5, N'Đã đăng ký')
INSERT [dbo].[DangKy] ([MaSV], [MaLHP], [DiemSo], [TrangThai]) VALUES (N'2311030101', N'A06', 1.35, N'Đã đăng ký')
INSERT [dbo].[DangKy] ([MaSV], [MaLHP], [DiemSo], [TrangThai]) VALUES (N'2311030102', N'B03', 6.98, N'Đã đăng ký')
GO
INSERT [dbo].[Khoa] ([MaKhoa], [TenKhoa], [isDeleted]) VALUES (N'0000TEST', N'TESTT', 1)
INSERT [dbo].[Khoa] ([MaKhoa], [TenKhoa], [isDeleted]) VALUES (N'ATGT', N'An toàn giao thông', 0)
INSERT [dbo].[Khoa] ([MaKhoa], [TenKhoa], [isDeleted]) VALUES (N'ATTT', N'An toàn thông tin', 0)
GO
INSERT [dbo].[LopHanhChinh] ([MaLop], [NienKhoa], [TenLop], [MaCTDT], [MaNV], [isDeleted]) VALUES (N'LH01', N'2023-2027', N'Lớp CTDT 01', N'CT001', N'NV001', 0)
INSERT [dbo].[LopHanhChinh] ([MaLop], [NienKhoa], [TenLop], [MaCTDT], [MaNV], [isDeleted]) VALUES (N'LH02', N'2023-2027', N'Lớp CTDT 02', N'CT002', N'NV002', 0)
INSERT [dbo].[LopHanhChinh] ([MaLop], [NienKhoa], [TenLop], [MaCTDT], [MaNV], [isDeleted]) VALUES (N'LH03', N'2023-2027', N'Lớp CTDT 03', N'CT003', N'NV003', 0)
GO
INSERT [dbo].[LopHocPhan] ([MaLHP], [NamHoc], [HocKy], [GioiHanSV], [MaMH], [MaNV], [CaHoc], [PhongHoc], [isDeleted]) VALUES (N'A01', 2024, 1, 45, N'MH001', N'NV001', N'1', N'101-A1', 0)
INSERT [dbo].[LopHocPhan] ([MaLHP], [NamHoc], [HocKy], [GioiHanSV], [MaMH], [MaNV], [CaHoc], [PhongHoc], [isDeleted]) VALUES (N'A02', 2024, 1, 48, N'MH002', N'NV002', N'2', N'201-A2', 0)
INSERT [dbo].[LopHocPhan] ([MaLHP], [NamHoc], [HocKy], [GioiHanSV], [MaMH], [MaNV], [CaHoc], [PhongHoc], [isDeleted]) VALUES (N'A03', 2024, 2, 42, N'MH003', N'NV003', N'3', N'301-A3', 0)
GO
INSERT [dbo].[MonHoc] ([MaMH], [TenMH], [SoTC], [LoaiMon], [MaCTDT], [isDeleted]) VALUES (N'MH_JAVA', N'Lập trình Java', 4, N'Bắt buộc', N'CT048', 0)
INSERT [dbo].[MonHoc] ([MaMH], [TenMH], [SoTC], [LoaiMon], [MaCTDT], [isDeleted]) VALUES (N'MH_TOAN', N'Toán rời rạc', 3, N'Bắt buộc', N'CT048', 0)
INSERT [dbo].[MonHoc] ([MaMH], [TenMH], [SoTC], [LoaiMon], [MaCTDT], [isDeleted]) VALUES (N'MH001', N'Lập trình C', 3, N'Cơ sở', N'CT001', 0)
GO
INSERT [dbo].[NguoiDung] ([Username], [MatKhau], [Usertype], [MaSV], [MaNV], [isDeleted]) VALUES (N'2311030100', N'2006-04-22', N'SV', N'2311030100', NULL, 0)
INSERT [dbo].[NguoiDung] ([Username], [MatKhau], [Usertype], [MaSV], [MaNV], [isDeleted]) VALUES (N'2311030101', N'2006-11-03', N'SV', N'2311030101', NULL, 0)
INSERT [dbo].[NguoiDung] ([Username], [MatKhau], [Usertype], [MaSV], [MaNV], [isDeleted]) VALUES (N'2311030102', N'2000-05-09', N'SV', N'2311030102', NULL, 0)
GO
INSERT [dbo].[NhanVien] ([MaNV], [HoDem], [Ten], [NgaySinh], [GioiTinh], [LoaiNV], [MaKhoa], [HocVan], [SDT], [Email]) VALUES (N'NV001', N'Nguyễn Văn', N'An', CAST(N'1985-03-12' AS Date), N'Nam', N'Giảng viên', N'CNTT', N'Tiến sĩ', N'0901000001', N'an.nguyen@uni.edu')
INSERT [dbo].[NhanVien] ([MaNV], [HoDem], [Ten], [NgaySinh], [GioiTinh], [LoaiNV], [MaKhoa], [HocVan], [SDT], [Email]) VALUES (N'NV002', N'Trần Thị', N'Mai', CAST(N'1987-07-21' AS Date), N'Nữ', N'Giảng viên', N'HTTT', N'Thạc sĩ', N'0901000002', N'mai.tran@uni.edu')
INSERT [dbo].[NhanVien] ([MaNV], [HoDem], [Ten], [NgaySinh], [GioiTinh], [LoaiNV], [MaKhoa], [HocVan], [SDT], [Email]) VALUES (N'NV003', N'Lê Văn', N'Hải', CAST(N'1984-11-05' AS Date), N'Nam', N'Giảng viên', N'KTPM', N'Tiến sĩ', N'0901000003', N'hai.le@uni.edu')
GO
SET IDENTITY_INSERT [dbo].[PhieuThu] ON 

INSERT [dbo].[PhieuThu] ([MaPhieu], [MaSV], [SoTienThu], [NgayThu], [HocKy], [NamHoc], [NguoiThu]) VALUES (1, N'2311030599', 2700000.0000, CAST(N'2026-04-02T13:14:39.350' AS DateTime), NULL, NULL, N'ADMIN')
INSERT [dbo].[PhieuThu] ([MaPhieu], [MaSV], [SoTienThu], [NgayThu], [HocKy], [NamHoc], [NguoiThu]) VALUES (2, N'2311030599', 1.0000, CAST(N'2026-04-02T13:46:47.723' AS DateTime), NULL, NULL, N'ADMIN')
INSERT [dbo].[PhieuThu] ([MaPhieu], [MaSV], [SoTienThu], [NgayThu], [HocKy], [NamHoc], [NguoiThu]) VALUES (3, N'2311030599', 299999.0000, CAST(N'2026-04-02T13:46:56.020' AS DateTime), NULL, NULL, N'ADMIN')
SET IDENTITY_INSERT [dbo].[PhieuThu] OFF
GO
INSERT [dbo].[QuanHuyen] ([MaHuyen], [TenHuyen], [MaTinh]) VALUES (N'001', N'Ba Đình', N'01')
INSERT [dbo].[QuanHuyen] ([MaHuyen], [TenHuyen], [MaTinh]) VALUES (N'002', N'Hoàn Kiếm', N'01')
INSERT [dbo].[QuanHuyen] ([MaHuyen], [TenHuyen], [MaTinh]) VALUES (N'003', N'Tây Hồ', N'01')
GO
SET IDENTITY_INSERT [dbo].[QuyDinhHocPhi] ON 

INSERT [dbo].[QuyDinhHocPhi] ([ID], [NamHoc], [HocKy], [DonGiaTinChi]) VALUES (1, N'2024', 1, 100000)
INSERT [dbo].[QuyDinhHocPhi] ([ID], [NamHoc], [HocKy], [DonGiaTinChi]) VALUES (2, N'2024', 2, 300000)
INSERT [dbo].[QuyDinhHocPhi] ([ID], [NamHoc], [HocKy], [DonGiaTinChi]) VALUES (3, N'2025', 1, 650000)
SET IDENTITY_INSERT [dbo].[QuyDinhHocPhi] OFF
GO
INSERT [dbo].[SinhVien] ([MaSV], [HoDem], [Ten], [NgaySinh], [GioiTinh], [NamNhapHoc], [MaLop], [SDT], [Email], [TrangThaiSV], [MaHuyen]) VALUES (N'2311030100', N'Hoàng Văn', N'Cường', CAST(N'2006-04-22' AS Date), N'Nữ', 0, NULL, NULL, NULL, N'Đang học', NULL)
INSERT [dbo].[SinhVien] ([MaSV], [HoDem], [Ten], [NgaySinh], [GioiTinh], [NamNhapHoc], [MaLop], [SDT], [Email], [TrangThaiSV], [MaHuyen]) VALUES (N'2311030101', N'Nguyễn Thị', N'Anh', CAST(N'2006-11-03' AS Date), N'Nữ', 2024, N'LH42', N'0915330826', N'anh20061103_118@gmail.com', N'Bị đuổi', N'118')
INSERT [dbo].[SinhVien] ([MaSV], [HoDem], [Ten], [NgaySinh], [GioiTinh], [NamNhapHoc], [MaLop], [SDT], [Email], [TrangThaiSV], [MaHuyen]) VALUES (N'2311030102', N'Nguyễn Văn', N'Lan', CAST(N'2000-05-09' AS Date), N'Nam', 2022, N'LH49', N'0994832109', N'lan20000509_020@gmail.com', N'Bị đuổi', N'020')
GO
INSERT [dbo].[TinhThanh] ([MaTinh], [TenTinh]) VALUES (N'01', N'Hà Nội')
INSERT [dbo].[TinhThanh] ([MaTinh], [TenTinh]) VALUES (N'02', N'Hà Giang')
INSERT [dbo].[TinhThanh] ([MaTinh], [TenTinh]) VALUES (N'04', N'Cao Bằng')
GO
ALTER TABLE [dbo].[ChuongTrinhDaoTao] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[Khoa] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[LopHanhChinh] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[LopHocPhan] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[MonHoc] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[PhieuThu] ADD  DEFAULT (getdate()) FOR [NgayThu]
GO
ALTER TABLE [dbo].[ChuongTrinhDaoTao]  WITH CHECK ADD FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[DangKy]  WITH CHECK ADD FOREIGN KEY([MaLHP])
REFERENCES [dbo].[LopHocPhan] ([MaLHP])
GO
ALTER TABLE [dbo].[DangKy]  WITH CHECK ADD FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
GO
ALTER TABLE [dbo].[LopHanhChinh]  WITH CHECK ADD FOREIGN KEY([MaCTDT])
REFERENCES [dbo].[ChuongTrinhDaoTao] ([MaCTDT])
GO
ALTER TABLE [dbo].[LopHanhChinh]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD FOREIGN KEY([MaMH])
REFERENCES [dbo].[MonHoc] ([MaMH])
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[MonHoc]  WITH CHECK ADD FOREIGN KEY([MaCTDT])
REFERENCES [dbo].[ChuongTrinhDaoTao] ([MaCTDT])
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[QuanHuyen]  WITH CHECK ADD FOREIGN KEY([MaTinh])
REFERENCES [dbo].[TinhThanh] ([MaTinh])
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD FOREIGN KEY([MaHuyen])
REFERENCES [dbo].[QuanHuyen] ([MaHuyen])
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD FOREIGN KEY([MaLop])
REFERENCES [dbo].[LopHanhChinh] ([MaLop])
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [chk_Usertype] CHECK  (([Usertype]='SV' AND [MaSV] IS NOT NULL AND [MaNV] IS NULL OR [Usertype]='NV' AND [MaNV] IS NOT NULL AND [MaSV] IS NULL OR [Usertype]='AD' AND [MaSV] IS NULL AND [MaNV] IS NULL))
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [chk_Usertype]
GO
USE [master]
GO
USE SQLqlsv
GO

-- Thêm 2 cột mới vào bảng
ALTER TABLE LopHocPhan ADD NgayBatDau DATE;
ALTER TABLE LopHocPhan ADD NgayKetThuc DATE;
GO

-- Cập nhật "bừa" một khoảng thời gian cho tất cả các lớp hiện tại để test
UPDATE LopHocPhan
SET NgayBatDau = '2024-09-05', NgayKetThuc = '2024-12-25';
GO