/* Nền tiêu đề (1 2 3 4) */
.titled-pane > .title {
    -fx-background-color: #60a5fa;   /* xanh nhạt */
}

/* Chữ tiêu đề */
.titled-pane > .title > .text {
    -fx-fill: white;                /* chữ trắng */
    -fx-font-weight: bold;
}

/* Hover đẹp hơn */
.titled-pane > .title:hover {
    -fx-background-color: #3b82f6;
}